# Import necessary libraries #

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

TRAIN_DATASET = os.path.join('dataset', 'train.csv') 
TEST_DATASET= os.path.join('dataset', 'test.csv')

# Data Preprocessing #

In [2]:
dataset = pd.read_csv(TRAIN_DATASET)
df = dataset.copy()
df.head(20)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
15,16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
16,17,20,RL,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,700,3,2010,WD,Normal,149000
17,18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
18,19,20,RL,66.0,13695,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,159000
19,20,20,RL,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000

Given that this is a Kaggle provided dataset, it has already been labeled appropiately. Considering the description of the columns provided in [dataset/data_description.txt](dataset/data_description.txt), it is important to note that `NaN` values are important. They are required feature values for some of the houses. Therefore, `NaN` values will not  be discarded.

The column to predict is the `SalesPrice` column.

We don't need the `Id` column.

In [3]:
df = df.drop('Id', axis=1)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 80 columns):
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(34), object(43)
memory usage: 912.6+ KB

`MSSubClass` feature has `int64` data type but taking a look at the `description.txt` file, it is clear this is a categorical feature. Therefore, we will make it a categorical feature of string data type.

In [5]:
ms_subclass_mapping = {20: 'MSSSubClass_20', 30: 'MSSSubClass_30', 40: 'MSSSubClass_40', 45: 'MSSSubClass_45', 
                       50: 'MSSSubClass_50', 60: 'MSSSubClass_60', 70: 'MSSSubClass_70', 75: 'MSSSubClass_75', 
                       80: 'MSSSubClass_80', 85: 'MSSSubClass_85', 90: 'MSSSubClass_90', 120: 'MSSSubClass_120', 
                       150: 'MSSSubClass_150', 160: 'MSSSubClass_160', 180: 'MSSSubClass_180', 
                       190: 'MSSSubClass_190'}
df['MSSubClass'] = df['MSSubClass'].map(ms_subclass_mapping)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,MSSSubClass_60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,MSSSubClass_20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,MSSSubClass_60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,MSSSubClass_70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,MSSSubClass_60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

There are specific columns with `NaN` values which, according to the description file, are meant to be `NA` string values. Columns with these values will be converted appropiately.

In [6]:
nan_columns = ['Alley', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'FireplaceQu', 
              'GarageType',  'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']
for column in nan_columns:
    df[column].replace({np.nan: 'NA'}, inplace=True)
    
# Specifically replace MasVnrType nan values with None
df['MasVnrType'].replace({np.nan: 'None'}, inplace=True)
    
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,MSSSubClass_60,RL,65.0,8450,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,MSSSubClass_20,RL,80.0,9600,Pave,NA,Reg,Lvl,AllPub,FR2,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,MSSSubClass_60,RL,68.0,11250,Pave,NA,IR1,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,MSSSubClass_70,RL,60.0,9550,Pave,NA,IR1,Lvl,AllPub,Corner,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,MSSSubClass_60,RL,84.0,14260,Pave,NA,IR1,Lvl,AllPub,FR2,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

## Separating ordinal from nominal features ##

Ordinal categorical features are those that can be sorted or ordered while nominal categorical features are not sorted or ordered. We will separate ordinal features from nominal features can encode each differently. Ordinal features will be encoded from lowest to highest while nominal features with be encoded using the one-hot encoding technique.

The table below shows the identified ordinal and nominal features in the data.

| Ordinal Features | Nominal Features |
|------------------|:----------------:|
| ExterQual        | MSSubClass       |
| ExterCond        | MSZoning         |
| BsmtQual         | Street**         |
| BsmtCond         | Alley            |
| BsmtExposure     | LandContour      |
| HeatingQC        | Utilities        |
| KitchenQual      | LotConfig        |
| FireplaceQu      | Neighborhood     |
| GarageFinish     | Condition1       |
| GarageQual       | Condition2       |
| GarageCond       | BldgType         |
| PavedDrive       | HouseStyle       |
| PoolQC           | RoofStyle        |
| LotShape         | RoofMatl         |
| LandSlope        | Exterior1st      |
|                  | Exterior2nd      |
|                  | MasVnrType       |
|                  | Foundation       |
|                  | BsmtFinType1     |
|                  | BsmtFinType2     |
|                  | Heating          |
|                  | Electrical       |
|                  | Functional       |
|                  | GarageType       |
|                  | Fence            |
|                  | MiscFeature      |
|                  | SaleType         |
|                  | SaleCondition    |
|                  | CentralAir**     |

`CentralAir` and `Street` is a binary classification, therefore it will be encoded manually.

In [7]:
# Map ordinal features to their corresponding integer values
# To avoid code duplication, we will add CentralAir and Street to the ordinals dictionary
ordinals = {
    'ExterQual': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1 },
    'ExterCond': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1 },
    'BsmtQual': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0 },
    'BsmtCond': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0 },
    'BsmtExposure': { 'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0 },
    'HeatingQC': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1 },
    'KitchenQual': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1 },
    'FireplaceQu': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0 },
    'GarageFinish': { 'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0 },
    'GarageQual': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0 },
    'GarageCond': { 'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0 },
    'PavedDrive': { 'Y': 3, 'P': 2, 'N': 1 },
    'PoolQC': { 'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NA': 0 },
    'LotShape': { 'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1 },
    'LandSlope': { 'Gtl': 3, 'Mod': 2, 'Sev': 1 },
    'CentralAir': { 'N': 0, 'Y': 1 },
    'Street': { 'Grvl': 1, 'Pave': 2 }
}

for key in list(ordinals.keys()):
    df[key] = df[key].map(ordinals[key])
    print('{} -> {}'.format(key, ordinals[key]))
    
df.head()

ExterQual -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
ExterCond -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
BsmtQual -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0}
BsmtCond -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0}
BsmtExposure -> {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0}
HeatingQC -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
KitchenQual -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
FireplaceQu -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0}
GarageFinish -> {'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0}
GarageQual -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0}
GarageCond -> {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0}
PavedDrive -> {'Y': 3, 'P': 2, 'N': 1}
PoolQC -> {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NA': 0}
LotShape -> {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1}
LandSlope -> {'Gtl': 3, 'Mod': 2, 'Sev': 1}
CentralAir -> {'N': 0, 'Y': 1}
Street -> {'Grvl': 1, 'Pave': 2}

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,MSSSubClass_60,RL,65.0,8450,2,NA,4,Lvl,AllPub,Inside,...,0,0,NA,NA,0,2,2008,WD,Normal,208500
1,MSSSubClass_20,RL,80.0,9600,2,NA,4,Lvl,AllPub,FR2,...,0,0,NA,NA,0,5,2007,WD,Normal,181500
2,MSSSubClass_60,RL,68.0,11250,2,NA,3,Lvl,AllPub,Inside,...,0,0,NA,NA,0,9,2008,WD,Normal,223500
3,MSSSubClass_70,RL,60.0,9550,2,NA,3,Lvl,AllPub,Corner,...,0,0,NA,NA,0,2,2006,WD,Abnorml,140000
4,MSSSubClass_60,RL,84.0,14260,2,NA,3,Lvl,AllPub,FR2,...,0,0,NA,NA,0,12,2008,WD,Normal,250000

Pandas `get_dummies()` method will be used to one-hot encode the nominal features.

In [8]:
df = pd.get_dummies(df, drop_first=True)
df.head()

,LotFrontage,LotArea,Street,LotShape,LandSlope,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,65.0,8450,2,4,3,7,5,2003,2003,196.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,9600,2,4,3,6,8,1976,1976,0.0,...,0,0,0,0,1,0,0,0,1,0
2,68.0,11250,2,3,3,7,5,2001,2002,162.0,...,0,0,0,0,1,0,0,0,1,0
3,60.0,9550,2,3,3,7,5,1915,1970,0.0,...,0,0,0,0,1,0,0,0,0,0
4,84.0,14260,2,3,3,8,5,2000,2000,350.0,...,0,0,0,0,1,0,0,0,1,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 234 entries, LotFrontage to SaleCondition_Partial
dtypes: float64(3), int64(50), uint8(181)
memory usage: 862.7 KB

## Imputing missing values ##

In [10]:
df.describe()

,LotFrontage,LotArea,Street,LotShape,LandSlope,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
count,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,70.049958,10516.828082,1.995890,3.591781,2.937671,6.099315,5.575342,1971.267808,1984.865753,103.685262,...,0.003425,0.003425,0.083562,0.002055,0.867808,0.002740,0.008219,0.013699,0.820548,0.085616
std,24.284752,9981.264932,0.063996,0.582296,0.276232,1.382997,1.112799,30.202904,20.645407,181.066207,...,0.058440,0.058440,0.276824,0.045299,0.338815,0.052289,0.090317,0.116277,0.383862,0.279893
min,21.000000,1300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,59.000000,7553.500000,2.000000,3.000000,3.000000,5.000000,5.000000,1954.000000,1967.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,69.000000,9478.500000,2.000000,4.000000,3.000000,6.000000,5.000000,1973.000000,1994.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,80.000000,11601.500000,2.000000,4.000000,3.000000,7.000000,6.000000,2000.000000,2004.000000,166.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,313.000000,215245.000000,2.000000,4.000000,3.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

It is evident from the dataframe description that there are features that still contain `Null` or `NaN` values. The features with empty values are presented below.

In [11]:
def null_columns():
    columns = df.columns[df.isnull().any()]
    print(df[columns].isnull().sum())
    
null_columns()

LotFrontage    259
MasVnrArea       8
GarageYrBlt     81
dtype: int64

We will examine the definitions of these features in order to determine what steps to take in handling the `Null` values:
- `LotFrontage` is defined as "Linear feet of street connected to property". We could easily assign a value of 0 to this feature for those entries that do not have values. But considering that it is equally likely that a house can have a frontage lot or not, we will fill these empty values with the mean of the all values the feature.
- `MasVnrArea` is defined as "Masonry veneer area in square feet". Since there are only 8 values with `Null` we can easily verify that `MasVnrArea` corresponds to `MasVnrType` such that a house that does not belong to a `MasVnrType` also does not have a `MasVnrArea` value. We will assign the value 0 to these `NaN` values.
- `GarageYrBlt` is defined as "Year garage was built". We will replace these values with the mode value of the feature. Our assumption is that since most houses are about in a particular year, then we can as well use that year.

We will use a customized implementation for imputing these values instead of `scikit-learn`'s implementation.

In [12]:
from scipy import stats

# LotFrontage
df['LotFrontage'].replace({np.nan: np.mean(df['LotFrontage'])}, inplace=True)

# MasVnrArea
df['MasVnrArea'].replace({np.nan: 0}, inplace=True)

# GarageYrBlt
mode, count = stats.mode(df['GarageYrBlt'], nan_policy='omit')
df['GarageYrBlt'].replace({np.nan: mode[0]}, inplace=True)

In [13]:
null_columns()

Series([], dtype: float64)